<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="assets/vendor/underscorejs/underscore-min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/icons.js"></script>
    <script src="assets/js/app.js"></script>
</head>
        <body>

            <div class=" searchbox col-md-6">
              <div class="input-group">
                <input type="text" id="icon-input" class="form-control" placeholder="Icon Name ...">
                <span class="input-group-btn">
                  <button type="button"  class="btn btn-success" data-toggle="modal" data-target="#myModal"> Select </button>
                 </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

              <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">                        
                        <input type="text" id = "txtSearchPage" class="form-control" placeholder="Search for Icon...">
                      </div>
                    <div class="modal-body clearfix">
                      
                      <div class="form-group">
                        
                         <!-- Underscoor Templating -->
                         <script type="text/javascript">
                         (function($, icons){
                            $(function(){
                                var template = _.template($("#icon-template").html());
                                var renderIconList = function(icons, template, query){
                                    icons = _.filter(icons, function(icon){
                                        return icon.indexOf(query) !== -1;});
                                    var html = template({"icons": icons});
                                    $(".fa-icons-list").html(html);
                                };
                                
                                $("#txtSearchPage").on("keyup change", function(){
                                    var query = $(this).val();
                                    renderIconList(icons, template, query);
                                });

                                renderIconList(icons, template, "");
                            });
                         }(jQuery, tx_font_awesome_icons));
                         </script>

                         <script id="icon-template" type="text/template">
                            <% _.each(icons, function(icon){%>
                            <div class="icon_section">
                                <i class="fa fa-<%=icon%>"></i><br>
                                <p class= "name"><%=icon%> </p><br>
                            </div>
                            <% }) %>
                         </script>

                     <div class="fa-icons-list"></div>
                       
               <!-- Insert into model -->
                </div>
                  </div>
                     <div class="modal-footer">
                        <div class="icon_size">
                          <select id = "icon_size" class="form-control">
                            <option value="fa-lg">fa-lg</option>
                            <option value="fa-2x">fa-2x</option>
                            <option value="fa-3x">fa-3x</option>
                            <option value="fa-4x">fa-4x</option>
                            <option value="fa-5x">fa-5x</option>
                        </select>
                      </div>
                      <br>
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success icon-insert-button">Insert Icon</button>
                      </div>
                    </div>
                  </div>
                </div>

</body>
</html>