#tx-icon-list-modal .modal-body{
	height: 400px;
	overflow: scroll;
}

ul.tx-icons-list{ list-style: none; margin: 0; padding: 0; }
ul.tx-icons-list li{
  float: left;
  width: 12%; height: 68px;
  padding: 8px;
  text-aul.tx-icons-list lign: center;
  background-color: #f9f9f9;
  margin: 1px;
  cursor: pointer;
}
ul.tx-icons-list li:hover { background-color: #4CAF50; }
ul.tx-icons-list li.active {background-color: #4CAF50; }
ul.tx-icons-list li:hover, ul.tx-icons-list li.active{ color: #fff; }

ul.tx-icons-list li p{ font-size: 9px; }
ul.tx-icons-list li .fa{ font-size: 30px; }